/**
 * Author: dereltuazon
 * Published: April 17, 2020
 */
 
table {
  width: 100%;
}
table.tbl-projects, th, td {
  border: 1px solid rgba(0,0,0,.03);
}
#remarks {
  min-height: 70px;
}
span.isPENDING {
  color: #fff;
  background-color: #dc3545;
}
span.isPROPOSED {
  color: #fff;
  background-color: #f9ca24;
}
span.isONGOING {
  color: #fff;
  background-color: #007bff;
}
span.isCOMPLETED {
  color: #fff;
  background-color: #28a745;
}
td.td-icon {
  width: 5%;
  text-align: center;
}
td.td-title {
  width: 20%;
  font-weight: bold;
}
td.td-content {
  width: 50%;
  text-align: center;
}
td.td-action {
  width: 25%;
  text-align: center;
}

/* 14HGDD!! */